<div class="container mt-3">
  <div class="row">
    <div *ngFor="let movie of movies" class="col mb-3">
      <div class="card" style="width: 18rem">
        <img
          src="http://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
          class="card-img-top"
          alt="movie"
        />
        <div class="card-body">
          <h5 class="card-title text-truncate">{{ movie.title }}</h5>
          <p class="card-text"></p>
          <button
            class="btn add-fav-btn"
            [ngClass]="{
              'd-none': isFavourites(movie.id),
              'd-block': !isFavourites(movie.id)
            }"
            (click)="addFavourites(movie)"
          >
            <i class="bi bi-suit-heart"></i>
          </button>
          <button
            class="btn delete-fav-btn"
            [ngClass]="{
              'd-none': !isFavourites(movie.id),
              'd-block': isFavourites(movie.id)
            }"
            (click)="deleteFavourites(movie)"
          >
            <i class="bi bi-suit-heart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
