div.card {
  img {
    height: 546px;
    object-fit: cover;
  }
}

.card {
  border: none;
}

.delete-fav-btn {
  background-color: #dd5457;
  color: white;
  border: none;
  border-radius: 50%;
}

.add-fav-btn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
}
