<div class="container">
  <div class="profile-box" *ngIf="userId">
    <form>
      <h1>My Profile</h1>
      <div class="profile-img">
        <img
          src="https://plus.unsplash.com/premium_photo-1683740129052-be35f1d6ce3e?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="profile img"
        />
      </div>
      <div class="form-group">
        <h4>Nome:</h4>
        <h6>{{ userName }} {{ userSurname }}</h6>
      </div>
      <div class="form-group">
        <h4>Email:</h4>
        <h6>{{ userEmail }}</h6>
      </div>
      <div class="form-group">
        <h4>ID:</h4>
        <h6>{{ userId }}</h6>
      </div>
    </form>
  </div>
</div>
