<div class="container favs-container mt-5">
  <div class="favs text-center">
    <h4>La mia lista</h4>
  </div>
  <div class="row mb-3 d-flex justify-content-center">
    <div
      *ngFor="let userFav of userFavs"
      class="col-sm-6 col-md-4 col-lg-2 mb-3"
    >
      <div class="card h-100">
        <div class="card text-bg-dark">
          <img
            src="http://image.tmdb.org/t/p/w500{{ userFav.poster_path }}"
            class="card-img h-100"
            alt="movie poster"
          />
          <div class="card-img-overlay"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 d-flex justify-content-center flex-row-reverse">
  <div class="news-title">
    <h4><span class="text1">I titoli del momento</span></h4>
  </div>
</div>
<div class="container mt-5">
  <div class="row mb-3">
    <div
      *ngFor="let topMovie of topMovies"
      class="col-sm-6 col-md-4 col-lg-2 mb-3"
    >
      <div class="card h-100">
        <div class="card text-bg-dark">
          <img
            src="http://image.tmdb.org/t/p/w500{{ topMovie.poster_path }}"
            class="card-img h-100"
            alt="movie poster"
          />
          <div class="card-img-overlay"></div>
        </div>
      </div>
    </div>
  </div>
</div>
